<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <h1 class="bg-dark bg-gradient text-center">
        Tutorial de
        <small class="text-muted">Sockets.IO</small>
    </h1>
    <input id="input" autocomplete="off">
    <p></p>
    <%- include('./partials/footer.ejs') %>
</body>

</html>